{%- assign title = '' -%}
{%- if page.title -%}
    {%- assign title = page.title | append: " | " | append: site.data.config.name -%}
{%- else -%}
    {%- assign title = site.data.config.title -%}
{%- endif -%}

{%- assign image = '' -%}
{%- if page.image -%}
    {%- assign image = page.image -%}
{%- else -%}
    {%- assign image = "/assets/img/blog-image.jpg" | prepend: site.data.config.baseurl | prepend: site.data.config.url -%}
{%- endif -%}

{%- assign description = '' -%}
{%- if page.description -%}
    {%- assign description = page.description | strip_html | strip_newlines | truncate: 160 -%}
{%- else -%}
    {%- assign description = site.data.config.description -%}
{%- endif -%}

{%- assign url = '' -%}
{%- if paginator.page_trail -%}
    {%- assign url = paginator.first_page_path | replace:'index.html','' | prepend: site.data.config.url -%}
{%- else -%}
    {%- assign url = page.url | replace:'index.html','' | prepend: site.data.config.baseurl | prepend: site.data.config.url -%}
{%- endif -%}

<meta property="og:image" content="{{ image }}"/>
<meta property="og:locale" content="{{ site.data.config.language }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ site.data.config.url }}{{ site.data.config.baseurl }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.data.config.name }}">
<meta property="og:description" content="{{ description }}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:card" content="summary">
<link rel="shortcut icon" href="{{ site.data.config.url }}{{ site.data.config.baseurl }}/assets/img/icons/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="57x57" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{site.data.config.url}}{{ site.data.config.baseurl }}/assets/img/icons/ms-icon-180x180.png">
<meta name="revisit-after" content="10 days">
<meta name="theme-color" content="#000000">
<link rel="canonical" href="{{ url }}" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<noscript>
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</noscript>


<link rel="stylesheet" href="{{ site.data.config.url }}{{ site.data.config.baseurl }}/assets/css/uiurc.css">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
{%- if page.tags -%}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{%- endif -%}
