{%- assign menuItems = "Home:/,About:/about,Contact:/contact" | split: "," -%}

<header class="navbar items-center sm:items-start bg-base-100 m-0 p-0" role="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
        <a class="px-5 header-logo screw" data-screw="header-l-system header-right-i-system" href="{{ site.data.config.url }}{{ site.data.config.baseurl }}" title="{{ site.data.config.name }} Logo" itemprop="url">
            <img class="w-14" src="{{ 'assets/img/icons/apple-icon-57x57.png' | relative_url }}" alt="{{ site.data.config.name }} Logo"/>
        </a>
        <div class="relative flex items-center sm:items-start p-0 bg-base-100 w-1/2 sm:w-full navbar-end">
            <svg class="w-10 mr-4 sm:hidden" id="sidebar-opener" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#three-dots"></use>
            </svg>

            <div class="hidden sm:flex flex-col sm:flex-col-reverse bg-base-100 absolute sm:static w-dvw h-dvh sm:w-full sm:h-full top-0 right-0 sm:items-center sm:justify-end z-10" id="sidebar">
                <div class="sm:hidden flex justify-between bg-base-100 items-center p-2 border-b-4 border-base-100 w-full">
                    <h3 class="text-xl">{{ site.data.config.name }}</h3>
                    <svg class="sm:hidden w-7 mr-4" id="sidebar-closer" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#x-circle"></use>
                    </svg>
                </div>
                <ul class="menu menu-vertical sm:menu-horizontal w-full justify-center items-center gap-2 sm:gap-4">
                    {%- for item in menuItems -%}
                        {%- assign name = item | split: ":" | first -%}
                        {%- assign url = item | split: ":" | last -%}
                        <li class="{%- if url == page.url -%}active {% endif %}">
                            <a class="{%- if url == page.url -%}py-0{% endif %}" href="{{ url }}">{{ name }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
                <ul class="menu menu-horizontal sm:border-0 sm:border-b-4 sm:border-b-accent w-full flex justify-center items-center gap-2 sm:gap-4 p-2 sm:p-0 sm:h-1/2">
                    <li>
                        <a href="https://facebook.com/{{ site.data.config.social.facebook }}">
                            <svg class="w-5 h-5 my-1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/{{ site.data.config.social.linkedin }}">
                            <svg class="w-5 h-5 my-1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/{{ site.data.config.social.youtube }}">
                            <svg class="w-5 h-5 my-1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</header>



{%- comment -%}

{% assign menuItems = 
    [
      { "name": "Home", "url": "/" },
      { "name": "About", "url": "/about" },
      { "name": "Contact", "url": "/contact" }
    ]
  %}

<header class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start md:hidden">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle" name="menu" aria-label="Menu" title="Menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /> </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
            {% for item in menuItems %}
                <li class="{%- if item.url == page.url -%}active{%- endif -%}">
                    <a href="{{ item.url }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <div class="navbar-center md:navbar-start md:pl-3">
        <a href="/" class="btn btn-ghost text-xl px-1" title="Logo" aria-label="Logo">
            <img src="/assets/img/icons/ms-icon-144x144.png" alt="Logo" class="h-10 w-10" title="Logo" />
        </a>
    </div>

    <div class="navbar-end">
      <div class="hidden md:flex md:items-center md:gap-2 md:pe-4 lg:pe-8">
        <ul class="menu menu-horizontal px-1">
            {% for item in menuItems %}
                <li class="{%- if item.url == page.url -%}active{% endif -%}">
                    <a href="{{ item.url }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
      <button title="Theme Change" class="btn btn-ghost btn-circle">
        <label for="themeChange" class="swap swap-rotate">
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" class="theme-controller" id="themeChange" value="thaas-dark"  aria-label="Theme Change" />
        
          <!-- sun icon -->
          <svg
            class="swap-on h-5 w-5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
              d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
          </svg>
        
          <!-- moon icon -->
          <svg
            class="swap-off h-5 w-5 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
              d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
          </svg>
        </label>
      </button>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-sm btn-ghost" aria-label="Language" title="Change Language">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4">
            <path fill-rule="evenodd" d="M11 5a.75.75 0 0 1 .688.452l3.25 7.5a.75.75 0 1 1-1.376.596L12.89 12H9.109l-.67 1.548a.75.75 0 1 1-1.377-.596l3.25-7.5A.75.75 0 0 1 11 5Zm-1.24 5.5h2.48L11 7.636 9.76 10.5ZM5 1a.75.75 0 0 1 .75.75v1.261a25.27 25.27 0 0 1 2.598.211.75.75 0 1 1-.2 1.487c-.22-.03-.44-.056-.662-.08A12.939 12.939 0 0 1 5.92 8.058c.237.304.488.595.752.873a.75.75 0 0 1-1.086 1.035A13.075 13.075 0 0 1 5 9.307a13.068 13.068 0 0 1-2.841 2.546.75.75 0 0 1-.827-1.252A11.566 11.566 0 0 0 4.08 8.057a12.991 12.991 0 0 1-.554-.938.75.75 0 1 1 1.323-.707c.049.09.099.181.15.271.388-.68.708-1.405.952-2.164a23.941 23.941 0 0 0-4.1.19.75.75 0 0 1-.2-1.487c.853-.114 1.72-.185 2.598-.211V1.75A.75.75 0 0 1 5 1Z" clip-rule="evenodd">
            </path>
          </svg>
          <svg width="12px" height="12px" class="hidden h-2 w-2 fill-current opacity-60 sm:inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z">
            </path>
          </svg>
        </div>
      </div>
    </div>
</header>



<script defer>
  document.addEventListener('DOMContentLoaded', function() {
      // get value of theme from local storage
      const theme = localStorage.getItem('theme') || 'thaas';
      if (theme == "thaas-dark") {
          document.querySelector('.theme-controller').checked = true;
      }
  });

  document.addEventListener('change', function(e) {
      // check if the target element is the theme controller
      if (e.target.classList.contains('theme-controller')) {
          // get the class name swap-on or swap-off
          const swap = e.target.checked ? 'swap-on' : 'swap-off';
          // get the value of the theme
          if (swap == 'swap-on') {
              setTheme('thaas-dark');
          } else {
              setTheme('thaas');
          }
      }
  });

  function setTheme(theme = "thaas") {
      // set the theme
      document.documentElement.setAttribute('data-theme', theme);
      // save the theme to local storage
      localStorage.setItem('theme', theme);
  }
</script>
{%- endcomment -%}
<script defer>
    document.getElementById('sidebar-opener').addEventListener('click', function() {
        document.getElementById('sidebar').classList.toggle('hidden');
    });
    document.getElementById('sidebar-closer').addEventListener('click', function() {
        document.getElementById('sidebar').classList.toggle('hidden');
    });
</script>